* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content h2{text-align: center;}
.card {
  width: 400px;
  height: 500px;
  box-shadow: 5px 5px 8px 0 rgba(0,0,0,0.3);
  border-radius: 20px;

}
.card img {
  width: 100%;
  height: 80%;
  border-radius: 20px 20px 0 0;
}
.card:hover {
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.5);
}

.container h4 {
  font-size: 30px;
}
.container p {
  font-size: 20px;
}
